:root {
  --color-primary: rgb(165, 60, 214);
  --color-secondary: rgb(26, 39, 216);
  --color-text: aliceblue;
}

.modal-content {
  background-color: rgb(241, 241, 241);
}

.modalTitle {
  font-size: 1.6rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modalStyleTitleRight {
  color: rgb(17, 153, 17);
}

.modalStyleTitleWrong {
  color: red;
}

.formModalPlayerName {
  margin: 3rem;
}

.modalTutorial {
  background: var(--color-secondary);
}
