:root {
  --color-primary: rgb(165, 60, 214);
  --color-secondary: rgb(26, 39, 216);
  --color-text: aliceblue;
}

.modal-content {
  background-color: rgb(241, 241, 241);
}

.modalTitle {
  font-size: 1.6rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modalStyleTitleRight {
  color: rgb(17, 153, 17);
}

.modalStyleTitleWrong {
  color: red;
}

.formModalPlayerName {
  margin: 3rem;
}

.modalTutorial {
  background: var(--color-secondary);
}

.rightAnswerDisplay h5 {
  font-size: 3rem;
  text-align: center;
  flex-grow: 1;
}

.rightAnswerDisplay h6 {
  font-size: 2.5rem;
  text-align: center;
}

.rightAnswerDisplay .answer {
  font-size: 2.5rem;
  text-align: center;
}
