.progress {
  margin: 1.3rem;
}

.board {
  box-shadow: 1px 1px 1px #3333;
}

.createquizbutton {
  margin-right: 0rem;
}

.navButtons {
  display: flex;
  flex-direction: row;
  flex-direction: flex-end;
  padding-right: 2rem;
}

.buttonStyle {
  margin-right: 2rem;
}

.titleCard {
  background: rgb(184, 250, 251);
  background: linear-gradient(
    0deg,
    rgb(182, 247, 248) 0%,
    rgb(255, 234, 190) 100%
  );
}

.textQuestion {
  font-size: 1.6rem;
  font-weight: bold;
}

.questionNr {
  font-size: 1.2rem;
}

.navStyle {
  margin: 1.5rem;
}

.title {
  font-size: 2.5rem;
  padding-left: 2rem;
}

.modal {
  /*display: none;*/
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 20% auto;
  padding: 20px;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
}
.closeBtn:hover,
.closeBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
